@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 1.3em;
}
button{
    width: auto;
    height: 60px;
    font-size: 1.2em;
    padding: 15px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.288);
    font-weight: ;
}